#custom-distro {
    padding: 0 11px 0 5px;
    font-size: 23px;
    background-color: rgb(153, 68, 68);

    border-bottom: 3px solid #612828;
}

* {
    margin: 0;
    padding: 0;
    font-family: "ttf-0xproto-nerd";
}

#custom-right_div.1,
#custom-left_div.1 {
    font-size: 28px;
    color: rgb(153, 68, 68);
    background-color: #5e3e55;
    border-bottom: 3px solid #4d2d44;
}

#clock,
#workspaces {
    padding: 0 5px;
    background-color: #5e3e55;
    border-bottom: 3px solid #4d2d44;
}

#workspaces button {
    font-size: 20px;
}

#custom-right_div.2,
#custom-left_div.2 {
    font-size: 28px;
    color: #5e3e55;
    background-color: #243464;
    border-bottom: 3px solid #132353;
}

#custom-right_div.3,
#custom-left_div.3 {
    font-size: 28px;
    color: #243464;
}

#waybar {
    background-color: transparent;
    margin-right: 700;
    margin-left: 349;
}

#waybar>box>* {
    background-color: transparent;
    padding: 8px;
    padding-bottom: 0;
    padding-right: 0;
}

#network,
#bluetooth,
#battery,
#cpu,
#memory,
#backlight,
#language {
    padding: 0 11px 0 5px;
    background-color: #243464;
    border-bottom: 3px solid #132353;
    border-top: 3px solid #132353;
    border-top-width: 0;
}

#network:hover,
#bluetooth:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#backlight:hover,
#language:hover {
    padding: 0 11px 0 5px;
    border-top-width: 3px;
    border-bottom-width: 0;
    background-color: #16285e;
    transition: all 200ms;
}